body{
    display:grid;
    place-content: center;
    background-color: #200302;
}


img{
    display: block;
     margin-left: auto;
  margin-right: auto;
    height: 200px;
    width: 150px;
    object-fit:cover;
    border-radius: 15px;
}

h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;  
    letter-spacing: 1px;
    text-align: center;
}

span{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
}

p{
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
}